body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* -----------------Input--------------------- */

.CreateNew {
  width: 100%;
  margin: auto;
  display: flex;
}

.CreateNew input {
  flex-grow: 1;
  padding: 1rem;
  background: transparent;
  border: 0 none;
  background: #f3f3f3;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}
.CreateNew button {
  background: rgb(130, 202, 130);
  color: #fff;
  cursor: pointer;
  padding: 0 1rem;
  font-size: 1.25rem;
  transition: 0.25s ease-in-out;
  border-radius: 0.5rem;
}
.CreateNew button:hover {
  background: rgb(5, 100, 2);
}

/* ------------------Timers---------------- */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes emphasize {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

input {
  box-sizing: border-box;
  border: 1px solid #333333;
  outline: none;
}
.container {
  text-align: center;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.timer {
  display: flex;
  align-items: center;
  margin-right: -0.25rem;
}
.timer__time {
  flex: 1;
  font-size: 1.5rem;
  padding-right: 5rem;
}
.timer__control-button {
  width: 40px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #333333;
  margin: 0 0.25rem;
}

.timer__control-button::-moz-focus-inner {
  border: 0;
}
.timer__control-button:hover,
.timer__control-button:focus {
  outline: 0;
  animation: emphasize 0.2s 1;
  animation-fill-mode: forwards;
}
.timer_active .timer__time {
  font-weight: bold;
  color: #002c6e;
}
.timer_big .timer__time {
  font-size: 2.5rem;
  font-weight: 900;
}
.task {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem 0;
}
.task_active {
  background-color: rgb(175, 228, 175);
}

.task__input {
  width: 100%;
  padding: 0.25rem 0.25rem;
  font-size: 1em;
}
.task__input:not(:focus) {
  padding: 0.25rem 0;
  border: 1px solid transparent;
  background: none;
}

/* ---------------Responsiveness---------------- */

@media (min-width: 320px) and (max-width: 560px) {
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .timer__time {
    flex: 1;
    font-size: 1.1rem;
    padding-right: 0.3rem;
    padding-bottom: 0.2rem;
  }
  .task__input {
    width: 100%;
    padding: 1.25rem 0.25rem;
    font-size: 0.8em;
  }
}
